@import "tailwindcss";

@font-face {
  font-family: 'Opel Next';
  src: url('/fonts/OpelNext-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Opel Next';
  src: url('/fonts/OpelNext-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Opel Next';
  src: url('/fonts/OpelNext-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  background: #fafafa;
  font-family: 'Opel Next', sans-serif;
  font-weight: 300;
}


img {
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

@keyframes move-dash {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.009);
  }

  100% {
    transform: scale(1);
  }
}

.animate-move-dash {
  border-style: dashed;
  animation: move-dash 1s linear infinite;
}


/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */